@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(/img/bck.jpg) no-repeat;
    background-size: cover;
}
.profile-boxmain
{
    width: 300px;
    position: absolute;
    top: 10%;
    left: 54%;
    transform: translate(-50%,-50%);
    color: white;
    
}
.profile-box
{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: white;
    
}
.profile-box1
{
    width: 300px;
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translate(-50%,-50%);
    color: white;
    
}


.profile-boxmain h1{

    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 20px;
    padding: 13px 0;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 20px 0;
    margin: 10px 0;
    border-bottom: 1px solid #4caf50;
    text-align: left;
    margin-bottom: 0px;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0 30px;
}
.btn
{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    bottom: 30px;
}
.btn1
{
    width: 700px;
    position: absolute;
    top: 500px;
    left: 48%;
    transform: translate(-50%,-50%);
    
    
}