<html>
<head>
<title>HOME</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/home.css" />

</head>
<body>
     
     <div class=link>
      <h4>HERE IS YOUR LINK:</h4>    
     <h1 style="color: lightblue;"> http://localhost:1000/<%= person %> </h1>
</div>
     <div class=profile>
          <h4>VISITE YOUR PROFILE:</h4>
     <h1><a style="color: lightblue;"href="http://localhost:1000/profile" >profile</a></h1>
</div>
     <div class=inbox>
          <h4>CHECK YOUR INBOX:</h4>
    <h1> <a style="color: lightblue;" href="http://localhost:1000/inbox" >inbox</a></h1>
</div>
</body>
</html>