<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/register.css" />
    </head>
        <body>
         <form id="register-form" method="post" action="/register">
            <div class="register-boxmain">
            <h1> SIGN UP </h1>
            </div>
            <div class="register-box">
            <div class="textbox" >

            
            <input type="text" name="username" placeholder="username"> <br><br>
             </div>
             <div class="textbox" >
                 
            <input type="text" name="name" placeholder="name"> </br></br>
    
            </div>
            <div class="textbox" >

            
            <input type="password" name="pass" placeholder="password" ></br> </br>
        </div>
         </div>
        <div class="register-box1">
        <div class="textbox" >
            <input type="password" name='rpassword'  placeholder="Confirm Password"><br><br>
            </div>
            <div class="textbox" >
        

            
            <input type="email" name="email" placeholder="email"></br> </br>
        </div>
    </div>
        <div class="register-box3" >
       
            
            <input type="radio" name="gender" value="male">
            <label for='Male' style="opacity: 0.5;">Male</label><br>
        
            <input type="radio" name="gender" value="female">
            <label for='Female' style="opacity: 0.5;">Female</label>
            </div>   
       
            <div class="btn1" >
            <input class="btn" type="submit" name='submit' value="REGISTER"></br>
        </br>
    </div>
        </form>
        


    </body>
</html>